<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur consequuntur commodi recusandae. Fuga, dignissimos laboriosam sint distinctio fugit voluptates tenetur libero corrupti quam, dicta sunt natus amet debitis odio eaque nemo. Tenetur aspernatur autem dignissimos doloremque aut dolor! Architecto totam laudantium nobis aliquid perspiciatis blanditiis praesentium nesciunt beatae, tempora esse ratione obcaecati voluptas alias accusamus quo, perferendis dolores earum exercitationem a maiores. Sunt omnis eos voluptate illo reiciendis praesentium quos dolores deleniti voluptatum repellendus quibusdam dicta dignissimos ex voluptatibus tempora fugiat repellat iste aut, doloribus similique. Ipsa mollitia, fuga ut quas similique, dolorem dicta sit id officia aut voluptatem architecto!</p>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Product</a></li>
      <li><a routerLink="/pico-preview" routerLinkActive="active">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>